@page
@model Assignment2.Pages.Products.DeleteModel
@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Are you sure you want to delete this product?</h4>
    <p>This action cannot be undone.</p>
</div>

<div class="card">
    <div class="card-header">
        <h4>@Model.Product.ProductName</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Product.Weight)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Product.Weight)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Product.UnitPrice)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Product.UnitPrice)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Product.UnitInStock)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Product.UnitInStock)</dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        <form method="post" class="d-inline">
            <input type="hidden" asp-for="Product.ProductId" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </div>
</div>
